@charset "UTF-8";
@font-face {
  font-family: Gopher;
  font-display: swap;
  src: url("../fonts/Gopher-Heavy.woff2") format("woff2"), url("../fonts/Gopher-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Gopher;
  font-display: swap;
  src: url("../fonts/Gopher-Regular.woff2") format("woff2"), url("../fonts/Gopher-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #262961;
  line-height: 1;
  font-family: "ProximaNova";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-style: normal;
  line-height: 150%;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  margin: 0 auto;
  max-width: 73.125rem;
  box-sizing: content-box;
}
@media (max-width: 73.125em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
  }
}

._title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

._text {
  font-size: 26px;
  line-height: 125%;
}

._blue-link a {
  display: inline-flex;
  justify-content: center;
  background: #262961;
  border-radius: 5px;
  padding: 16px 20px;
  width: 223px;
  color: #fff;
}

._white-link a {
  display: inline-flex;
  justify-content: center;
  background: transparent;
  border-radius: 5px;
  padding: 16px;
  border: 1px solid #262961;
}

._green-block {
  position: relative;
  background: #ffffff;
  border: 2px solid #262961;
  box-sizing: border-box;
  border-radius: 20px;
}
._green-block .green-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3affdc;
  border: 2px solid #2b2d60;
  border-radius: 20px;
  bottom: -15px;
  right: -15px;
  z-index: -1;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 5px 20px;
  border: 1px solid #3affdc;
  padding-right: 40px;
  outline: none;
  font-size: 18px;
}
.input::-moz-placeholder {
  color: #262961;
}
.input:-ms-input-placeholder {
  color: #262961;
}
.input::-ms-input-placeholder {
  color: #262961;
}
.input::placeholder {
  color: #262961;
}
.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  background: #262961;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header-logo img {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.header-phone a {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  background: #262961;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}
.footer a {
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 0 1 30%;
}

.footer-left {
  font-size: 26px;
}
.footer-left li {
  margin-bottom: 24px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.footer-menu {
  flex: 0 1 50%;
}
.footer-menu li {
  margin-bottom: 17px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-img {
  margin-bottom: 32px;
}

.logo-tel {
  margin-bottom: 32px;
}
.logo-tel a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 26px;
}
.footer-social img {
  width: 30px;
  height: 30px;
}

.footer-label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.footer-input {
  position: relative;
  height: 47px;
}
.footer-input .input {
  padding-right: 55px;
  height: 100%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #262961;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.footer-input .input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-input .input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-input .input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.footer-input .input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer-arrow button {
  position: absolute;
  height: 100%;
  width: 54px;
  top: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  position: relative;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.first-slide {
  background-image: url("../img/main/03.jpg");
}

.second-slide {
  background-image: url("../img/main/04.jpg");
}

.third-slide {
  background-image: url("../img/main/05.jpg");
}

.first-slide,
.second-slide,
.third-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__slide-title {
  flex: 0 1 32%;
}

.main__slide-img {
  flex: 0 1 32%;
  position: relative;
}
.main__slide-img img {
  max-width: 100%;
}

.slide-seo {
  position: absolute;
  bottom: 24px;
  right: -55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 13px 10px;
  background: #ffffff;
  border: 1px solid #262961;
  border-radius: 4px;
}

.main__slide-content {
  flex: 0 1 32%;
}

.main__slide-text {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}

.main-slider-box {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 28px;
  bottom: 70px;
  left: 100px;
}

.swiper-pagination {
  display: flex;
  gap: 14px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #262961;
  border-radius: 50%;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #262961;
}

.about {
  padding-top: 90px;
  padding-bottom: 52px;
}

.about-title {
  margin-bottom: 35px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-item {
  flex: 0 0 30%;
}

.about-item-top {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 20px;
}

.about-item-img img {
  max-width: 84px;
}

.about-item-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

.about-item-text {
  font-size: 16px;
  line-height: 22px;
}

.quote {
  height: 292px;
  background-image: url("../img/main/06.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.quote__container {
  display: flex;
  gap: 160px;
}

.quote-content {
  padding-top: 53px;
  padding-bottom: 53px;
  max-width: 478px;
}

.quote-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.quote-author {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.quote-img {
  padding-top: 15px;
}
.quote-img img {
  max-width: 383px;
}

.how {
  padding-top: 100px;
  padding-bottom: 40px;
}

.how-title {
  margin-bottom: 30px;
}

.how-text {
  margin-bottom: 74px;
}

.how-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.how-item {
  flex: 0 1 18%;
}
.how-item._odd {
  padding-top: 120px;
}

.how-img {
  text-align: center;
  margin-bottom: 8px;
}

.how-item-text {
  text-align: center;
  max-width: 166px;
  margin: 0 auto;
}

.how-arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 100px;
  z-index: -1;
}

.change {
  padding-top: 40px;
  padding-bottom: 50px;
}

.change-title {
  margin-bottom: 60px;
}

.change-block {
  background: linear-gradient(101.42deg, rgba(248, 124, 194, 0.7) 0%, rgba(255, 255, 255, 0.7) 45.31%, rgba(58, 255, 220, 0.7) 100%), #ffffff;
  border: 2px solid #262961;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.change-block-left {
  flex: 0 1 60%;
  padding: 27px 21px 19px 57px;
}

.change-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.change-text {
  line-height: 22px;
  margin-bottom: 10px;
}

.change-box {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.change-price {
  font-weight: 600;
  line-height: 19px;
}
.change-price span {
  font-size: 26px;
}

.change-block-right {
  padding: 27px 28px 19px 34px;
  border-left: 2px solid #262961;
}

.change-number {
  font-size: 18px;
  line-height: 28px;
}
.change-number span {
  font-weight: 800;
}

.change-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change-item {
  flex: 0 1 49%;
  height: 228px;
  padding: 30px 40px;
  border: 2px solid #262961;
  border-radius: 12px;
}
.change-item._first {
  background: linear-gradient(288.51deg, rgba(255, 209, 185, 0.8) 16.6%, rgba(251, 168, 215, 0.8) 53.34%, rgba(179, 180, 216, 0.8) 91.65%), #ffffff;
}

.change-item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.change-item-list li {
  flex: 0 1 50%;
  margin-bottom: 10px;
  padding-left: 12px;
  position: relative;
}
.change-item-list li:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #262961;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.change-item-block {
  display: flex;
  align-items: center;
  gap: 100px;
}

.companies {
  padding-top: 50px;
  padding-bottom: 50px;
}

.companies-title {
  margin-bottom: 30px;
}

.companies-text {
  margin-bottom: 30px;
}

.companies__slider {
  background: #3affdc;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 46px;
}

.companies__slide {
  text-align: center;
}

.companies-review {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.companies-img {
  flex: 0 0 35%;
}
.companies-img img {
  max-width: 100%;
  border-radius: 20px;
}

.companies-review-content {
  position: relative;
  padding: 20px;
}

.companies-review-quote {
  position: absolute;
  top: -13px;
  left: -13px;
  font-weight: 600;
  font-size: 68px;
  line-height: 78px;
}

.companies-review-text {
  line-height: 125%;
  margin-bottom: 6px;
}

.companies-review-author {
  font-weight: 600;
  line-height: 150%;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #2b2d60;
}

.reviews-title {
  margin-bottom: 62px;
}
.reviews-title._title {
  color: #2b2d60;
}

.reviews__slider {
  padding: 20px 30px;
}

.reviews__slide {
  padding: 24px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #262961;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.reviews-text {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.reviews-slide-name {
  font-weight: 800;
  font-size: 16px;
  color: #40439d;
  margin-bottom: 10px;
}

.reviews-slide-who {
  font-weight: 800;
  font-size: 16px;
}

.reviews-slide-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.reviews-slide-img img {
  border-radius: 20px;
}

.reviews-slider-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 20px;
  align-items: center;
  bottom: 20px;
}

.roadmap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.roadmap-title {
  max-width: 530px;
  margin-bottom: 78px;
}
.roadmap-title span {
  color: #40439d;
}

.roadmap-list {
  display: flex;
  justify-content: space-between;
}

.roadmap-item {
  flex: 0 1 32%;
}

.roadmap-box {
  padding: 18px;
  border: 2px solid #262961;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  height: 243px;
  margin-bottom: 30px;
}

.roadmap-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roadmap-stars {
  display: flex;
  align-items: center;
  gap: 3px;
}

.roadmap-number {
  font-family: "Gopher";
  font-weight: 900;
  font-size: 62px;
  line-height: 115%;
}

.roadmap-subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.roadmap-text {
  font-size: 14px;
  margin-bottom: 7px;
}
.roadmap-text span {
  font-weight: bold;
}

.roadmap-arrow {
  text-align: center;
  margin-bottom: 53px;
}

.roadmap-tags-list {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
  flex-wrap: wrap;
}

.roadmap-tags-item {
  background: rgba(0, 195, 235, 0.3);
  border-radius: 3px;
  padding: 5px 20px;
  text-align: center;
}

.route {
  padding-top: 50px;
  padding-bottom: 50px;
}

.route-title {
  margin-bottom: 60px;
}

.route-box {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/main/14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
}

.route-left,
.route-right {
  position: absolute;
  font-weight: 600;
  font-size: 200px;
  line-height: 105%;
  text-align: center;
  color: #00c3eb;
}

.route-left {
  top: -60px;
  left: -90px;
}

.route-text {
  font-size: 18px;
  text-align: center;
  max-width: 653px;
  margin: 0 auto;
  position: relative;
}

.route-right {
  bottom: -140px;
  right: -90px;
}

.route-subtitle {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  margin-bottom: 57px;
}

.route-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.route-content {
  flex: 0 1 49%;
}

.route-list-title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
}

.route-list-text {
  margin-bottom: 20px;
}
.route-list-text span {
  font-weight: bold;
}

.route-img img {
  max-width: 384px;
}

.help {
  padding-top: 50px;
  padding-bottom: 50px;
}

.help__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help-title {
  flex: 0 1 59%;
  font-weight: 600;
  font-size: 68px;
  line-height: 115%;
  background: linear-gradient(124.09deg, #40439d 1.18%, #00c3eb 101.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.help-form {
  flex: 0 1 28%;
}

.help-input {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.help-input img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.help-link {
  text-align: center;
  margin-bottom: 18px;
}

.help-privacy {
  text-align: center;
  line-height: 162%;
}
.help-privacy a {
  color: #3affdc;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-title {
  margin-bottom: 30px;
}

.blog-subtitle {
  font-size: 26px;
  line-height: 138%;
}

.blog-link-all {
  text-align: right;
  margin-bottom: 30px;
}
.blog-link-all a {
  font-weight: 600;
  padding: 5px 10px;
  border: 1px solid #3affdc;
}

.blog-list {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 30%;
}

.blog-item-img {
  margin-bottom: 18px;
}
.blog-item-img img {
  max-width: 100%;
}

.blog-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 900;
  text-align: center;
  font-family: Gopher;
  color: rgba(38, 41, 97, 0.7);
}

.blog-chart {
  display: flex;
  gap: 10px;
  align-items: center;
}

.blog-views {
  display: flex;
  gap: 10px;
  align-items: center;
}

.blog-item-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-text {
  color: rgba(38, 41, 97, 0.7);
  margin-bottom: 34px;
}

.blog-read a {
  display: flex;
  align-items: center;
  gap: 21px;
  font-weight: 600;
  font-size: 20px;
}

.want {
  padding-top: 50px;
  padding-bottom: 50px;
}

.want__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.want-left {
  flex: 0 1 25%;
}

.want-title {
  margin-bottom: 10px;
}

.want-text {
  margin-bottom: 30px;
}
.want-text span {
  font-weight: 700;
}

.want-right {
  flex: 0 1 75%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 35px 22px;
  background: rgba(0, 195, 235, 0.5);
  border-radius: 10px;
  flex-wrap: wrap;
}

.want-item {
  flex: 0 1 31.5%;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.want-item-top {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.want-item-icon {
  width: 20px;
  height: 20px;
}

.want-item-title {
  font-weight: bold;
  font-size: 14px;
}

.question {
  padding-top: 50px;
  padding-bottom: 100px;
}

.question-title {
  margin-bottom: 60px;
}

.spollers__item {
  max-width: 780px;
  margin: 0 auto;
  padding: 23px 50px;
  border-bottom: 2px solid #262961;
}
.spollers__item button {
  text-align: left;
}

.spollers__title {
  font-size: 24px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #40439d;
}
.spollers__title img {
  transition: transform 0.3s ease 0s;
}
.spollers__title._spoller-active img {
  transform: rotate(45deg);
}
.spollers__title span {
  max-width: 400px;
}

.spollers__body {
  font-size: 18px;
}
.spollers__body li {
  padding-left: 20px;
  position: relative;
}
.spollers__body li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 11px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #262961;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
